@{
    ViewBag.Title = "Home Page";
}

<div>
    <button onclick="location.href='@Url.Action("UploadFiles", "Home")'">Upload</button>
    <button onclick="location.href='@Url.Action("ViewFiles", "Home")'">View</button>
</div>
